@import 'jeet/index';
@import 'breakpoint/breakpoint';
@import 'variables';
@import 'responsive';
// @include edit ();
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500,700,600,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
body {
  font-family: 'helvetica';
  color: #3e3e3e;
  background-image: url('../img/skytower-example.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
}
a {
  color: $link;
  text-decoration: none;
  transition: all 200ms ease;
  &:hover {
    color: darken($link, 10%);
  }
}

// NAVIGATION

nav {
  opacity: .90;
  position: fixed;
  font-size: .8rem;
  top: 0;
  z-index: 1000;
  height: 3.4rem;
  width: 100%;
  .nav-title {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    color: #3e3e3e;
  }
  h1 {
    font-family: $font-h;
    font-weight: 800;
    font-size: 2rem;
    color: #3e3e3e;
    float: left;
  }
  ul {
    position: absolute;
    right: 3rem;
    top: 0;
  }
  li {
    font-family: $font-h;
    font-weight: 400;
    display: inline;
    line-height: 4rem;
    text-transform: uppercase;
    font-size: 1rem;
    padding-right: .9rem;
    a {
      padding-bottom: .95rem;
      &:hover {
        border-bottom: .5rem solid #955CA5;
      }
      &:active {
        border-bottom: .5rem solid #955CA5;
      }
    }
    .menu-button {
      display: none;
      font-size: 1.4rem;
      color: whitesmoke;
    }
    .menu-close {
      display: none;
    }
  }
}
.active {
  border-bottom: .5rem solid #955CA5;
}
.top-bar {
  height: 5rem;
  position: fixed;
  top: -1rem;
  width: 100%;
  z-index: 200;
  background-color: whitesmoke;
  box-shadow: 0 0 33px 0 rgba(56,56,56,0.52);
}
.nav-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: .3rem .3rem .3rem 3rem;
  img {
    height: 3.5rem;
  }
}
.is-hidden {
  margin-top: -5rem;
  transition: all 750ms ease;
}
.is-showing {
  margin-top: 0;
  transition: all 750ms ease;
}

//HEADER

header {
  padding-top: 0;
  margin-top: 0;
}
.logo {
  max-width: $box-width;
  font-family: $font-h;
  color: #fff;
  font-size: 4rem;
  margin: 0 auto;
  padding-top: 5rem;
  position: relative;
  .logo-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    p {
      line-height: 2.5rem;
    }
    .thin {
      font-weight: 200;
    }
    .bold {
      font-weight: 600;
    }
    .subtitle {
      font-size: 1.8rem;
    }
    .details {
      font-size: 1.3rem;
    }
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

//BOX

.box {
  @include center($box-width);
}
.box-padding-5 {
  padding-top: 5rem;
}
.box-col-3 {
  @include column(1/3);
  @include breakpoint($small) {
    @include stack();
    margin-top: 1rem;
  }
  background: whitesmoke;
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
  p{
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .85rem;
  }
}
.box-col-2 {
  @include column(1/2);
  @include breakpoint($small) {
    @include stack();
    margin-top: 1rem;
  }
  background: whitesmoke;
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
  p{
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .85rem;
  }
  .team-description {
    padding: 0.6rem 0 0 0;
  }
}
.card-title {
  color: whitesmoke;
  padding: 4rem 1rem 1rem 1rem;
  h3 {
    font-family: $font-h;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;
    display: inline;
    letter-spacing: .15rem;
  }
}
.card-icon {
  float: right;
  display: inline;
  font-size: 4rem;
  margin-top: -2.3rem;
}
.card-img {
  float: right;
  display: inline;
  margin-top: -5.9rem;

  img {
    height: 6rem;
    border-radius: 50px;
  }
}
.emerald {
  background-color: #50BA6F;
}
.blue {
  background-color: #3D97D3;
}
.purple {
  background-color: #955CA5;
}
.green-sea {
  background-color: #15A086;
}
.alizarin {
  background-color: #E64D3C;
}
.card-body {
  border-bottom: .1rem solid #CCC;
  ul {
    list-style-type: square;
    font-size: 0.85rem;
    line-height: 1.3rem;
    padding-left: 1.8rem;
  }
}
.card-action {
  padding: 0.9rem;
  a {
    font-family: $font-h;
    font-weight: 800;
    text-transform: uppercase;
  }
  li {
    display: inline;
    padding-right: 0.9rem;
  }
}
iframe {
  padding: 0;
  z-index: 0;
  pointer-events: none;
}


//TEAM



//ENTRIES

.entry {
  margin: 5rem auto;
  max-width: $box-width;
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
}
.description {
  background: whitesmoke;
  border-bottom: .1rem solid #CCC;
  h3 {
    padding: 1rem;
    font-size: 1.2rem;
  }
  p {
    padding: 1rem;
    line-height: 1.7;
    font-size: 1.1rem;
  }
  button {
    margin-left: auto;
    margin-right: auto;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    &:hover {
      background: #3cb0fd;
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
}
.media {
  position: relative;
  color: #4D4D4D;
  background: whitesmoke;
  padding: 1rem;
  height: 5.8rem;
}
.player {
  position: absolute;
  left: 15rem;
  top: 4rem;
}
.left-panel {
  position: absolute;
  bottom: 1.5rem;
  left: 2.7rem
}
.right-panel {
  position: absolute;
  bottom: 1.7rem;
  right: 2.7rem
}
.action {
  font-size: 1.2rem;
  font-family: Roboto;
}
.date {
  color: #999;
}


// COVER

.cover {
  position: relative;
  height: 32rem;
  background-size: cover;
  background-position: 25% 75%;
  h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem;
  }
}

// FOOTER

.copyright {
  width: 100%;
  background: whitesmoke;
  margin-top: 2rem;
  padding-top: .8rem;
  height: 5rem;
  font-family: $font-h;
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
}
.footer-social {
  text-align: center;
  padding-top: .8rem;
  a {
    color: #969696;
    &:hover {
      color: darken(#969696, 30%);
    }
  }
  li {
    display: inline;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
}
footer {
  p {
    padding-top: 0.3rem;
    text-align: center;
    font-size: 0.85rem;
  }
}
