/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500,700,600,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.bg {
  position: fixed;
  z-index: 1;
  font-family: 'helvetica';
  color: #3e3e3e;
  background-image: url("../img/skytower-example.jpg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; }

.container {
  position: relative;
  z-index: 2; }

a {
  color: #00BCD4;
  text-decoration: none;
  transition: all 200ms ease; }
  a:hover {
    color: #008fa1; }

nav {
  opacity: .90;
  position: fixed;
  font-size: .8rem;
  top: 0;
  z-index: 1000;
  height: 3.4rem;
  width: 100%; }
  nav a {
    color: #3e3e3e; }
  nav h1 {
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: #3e3e3e;
    float: left; }
  nav ul {
    float: right;
    right: 3rem;
    top: 0; }
  nav li {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    display: inline;
    line-height: 4rem;
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: .9rem; }
    nav li a {
      padding-bottom: .95rem; }
      nav li a:hover {
        border-bottom: .5rem solid #955CA5; }
      nav li a:active {
        border-bottom: .5rem solid #955CA5; }
    nav li .menu-button {
      display: none;
      font-size: 1.4rem;
      color: whitesmoke; }
    nav li .menu-close {
      display: none; }

.nav-center {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .nav-center:before, .nav-center:after {
    content: '';
    display: table; }
  .nav-center:after {
    clear: both; }

.active {
  border-bottom: .5rem solid #955CA5; }

.top-bar {
  height: 5rem;
  position: fixed;
  top: -1rem;
  width: 100%;
  z-index: 200;
  background-color: whitesmoke;
  box-shadow: 0 0 33px 0 rgba(56, 56, 56, 0.52); }

.nav-title {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: .4rem; }

.nav-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: .2rem .3rem .4rem 0; }
  .nav-logo img {
    height: 3.5rem; }

.is-hidden {
  margin-top: -5rem;
  transition: all 750ms ease; }

.is-showing {
  margin-top: 0;
  transition: all 750ms ease; }

header {
  padding-top: 0;
  margin-top: 0; }

.logo {
  max-width: 960px;
  font-family: "Exo 2", sans-serif;
  color: #fff;
  font-size: 4rem;
  margin: 0 auto;
  padding-top: 5rem;
  position: relative; }
  .logo .logo-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem; }
    .logo .logo-title p {
      line-height: 1.8rem; }
    .logo .logo-title .thin {
      font-weight: 200; }
    .logo .logo-title .bold {
      font-weight: 600; }
    .logo .logo-title .subtitle {
      font-size: 1.3rem; }
    .logo .logo-title .details {
      font-size: 1rem; }
  .logo img {
    margin-left: .9rem;
    display: inline-block;
    vertical-align: middle; }

.box {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .box:before, .box:after {
    content: '';
    display: table; }
  .box:after {
    clear: both; }

.box-padding-5 {
  padding-top: 5rem; }

.box-padding-2 {
  padding-top: 2rem; }

.box-col-3 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333%;
  margin-left: 0%;
  margin-right: 3%;
  background: whitesmoke;
  box-shadow: -2px -1px 33px 3px rgba(56, 56, 56, 0.52); }
  .box-col-3:before, .box-col-3:after {
    content: '';
    display: table; }
  .box-col-3:after {
    clear: both; }
  .box-col-3:last-child {
    margin-right: 0%; }
  @media (max-width: 799px) {
    .box-col-3 {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem; }
      .box-col-3:first-child {
        margin-left: auto; }
      .box-col-3:last-child {
        margin-right: auto; } }
  .box-col-3 p {
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .85rem; }

.box-col-2 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  background: whitesmoke;
  box-shadow: -2px -1px 33px 3px rgba(56, 56, 56, 0.52); }
  .box-col-2:before, .box-col-2:after {
    content: '';
    display: table; }
  .box-col-2:after {
    clear: both; }
  .box-col-2:nth-child(1n) {
    margin-right: 3%;
    float: left; }
  .box-col-2:nth-child(1n + 1) {
    clear: none; }
  .box-col-2:nth-child(2n) {
    margin-right: 0%;
    float: right; }
  .box-col-2:nth-child(2n + 1) {
    clear: both; }
  @media (max-width: 799px) {
    .box-col-2 {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem; }
      .box-col-2:first-child {
        margin-left: auto; }
      .box-col-2:last-child {
        margin-right: auto; } }
  .box-col-2 p {
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .85rem; }
  .box-col-2 .team-description {
    padding: 0.6rem 0 0 0; }

.card-title {
  color: whitesmoke;
  padding: 4rem 1rem 1rem 1rem; }
  .card-title h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;
    display: inline;
    letter-spacing: .15rem; }

.card-icon {
  float: right;
  display: inline;
  font-size: 4rem;
  margin-top: -2.3rem; }

.card-img {
  float: right;
  display: inline;
  margin-top: -5.9rem; }
  .card-img img {
    height: 6rem;
    border-radius: 50px; }

.emerald {
  background-color: #50BA6F; }

.blue {
  background-color: #3D97D3; }

.purple {
  background-color: #955CA5; }

.green-sea {
  background-color: #15A086; }

.alizarin {
  background-color: #E64D3C; }

.card-body {
  border-bottom: .1rem solid #CCC; }
  .card-body ul {
    list-style-type: square;
    font-size: 0.85rem;
    line-height: 1.3rem;
    padding-left: 1.8rem; }
  .card-body .small-text {
    font-size: .6rem; }

.card-action {
  padding: 0.9rem; }
  .card-action a {
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    text-transform: uppercase; }
  .card-action li {
    display: inline;
    padding-right: 0.9rem; }

iframe {
  padding: 0;
  z-index: 0;
  pointer-events: none; }

.entry {
  margin: 5rem auto;
  max-width: 960px;
  box-shadow: -2px -1px 33px 3px rgba(56, 56, 56, 0.52); }

.description {
  background: whitesmoke;
  border-bottom: .1rem solid #CCC; }
  .description h3 {
    padding: 1rem;
    font-size: 1.2rem; }
  .description p {
    padding: 1rem;
    line-height: 1.7;
    font-size: 1.1rem; }
  .description button {
    margin-left: auto;
    margin-right: auto;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none; }
    .description button:hover {
      background: #3cb0fd;
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none; }

.media {
  position: relative;
  color: #4D4D4D;
  background: whitesmoke;
  padding: 1rem;
  height: 5.8rem; }

.player {
  position: absolute;
  left: 15rem;
  top: 4rem; }

.left-panel {
  position: absolute;
  bottom: 1.5rem;
  left: 2.7rem; }

.right-panel {
  position: absolute;
  bottom: 1.7rem;
  right: 2.7rem; }

.action {
  font-size: 1.2rem;
  font-family: Roboto; }

.date {
  color: #999; }

.cover {
  position: relative;
  height: 32rem;
  background-size: cover;
  background-position: 25% 75%; }
  .cover h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem; }

.copyright {
  width: 100%;
  background: whitesmoke;
  margin-top: 2rem;
  padding-top: .8rem;
  height: 5rem;
  font-family: "Exo 2", sans-serif;
  box-shadow: -2px -1px 33px 3px rgba(56, 56, 56, 0.52); }

.footer-social {
  text-align: center;
  padding-top: .8rem; }
  .footer-social a {
    color: #969696; }
    .footer-social a:hover {
      color: #4a4a4a; }
  .footer-social li {
    display: inline;
    padding-right: 0.4rem;
    padding-left: 0.4rem; }

footer p {
  padding-top: 0.3rem;
  text-align: center;
  font-size: 0.85rem; }

@media only screen and (min-width: 1px) and (max-width: 900px) {
  nav ul {
    position: absolute;
    width: 50%;
    height: 1200px;
    opacity: 1;
    margin-top: 4rem;
    margin-right: -120%;
    border-top: 0;
    background: whitesmoke;
    transition: all 400ms ease; }
    nav ul li {
      padding-right: 1rem;
      font-size: .9rem;
      text-align: right;
      display: block;
      line-height: 2.3rem; }
      nav ul li a {
        padding-bottom: .01rem; }
  nav .menu-button {
    display: block;
    float: right;
    line-height: 3rem;
    margin-right: 1rem;
    margin-top: .55rem;
    cursor: pointer;
    transition: all 100ms ease; }
    nav .menu-button:hover {
      color: #00BCD4; }
  nav .menu-open::after {
    font-size: 2rem;
    content: "\2261"; }
  nav .menu-close::after {
    content: "\2715"; }
  nav .show-menu {
    opacity: 1;
    margin-right: -3rem; } }
/*MEDIUM SCREENS*/
@media only screen and (min-width: 800px) {
  .logo .logo-title p {
    line-height: 2.5rem; }
  .logo .logo-title .subtitle {
    font-size: 1.8rem; }
  .logo .logo-title .details {
    font-size: 1.3rem; }
  .logo img {
    margin-left: 0rem; }

  .box-col-2 {
    margin-bottom: 1.8rem; } }
