@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500,700,600);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
body {
  font-family: Roboto;
  background-image: url("../img/cover-pic.jpg");
  background-size: cover;
  background-attachment: fixed; }

.entry {
  margin: 5rem auto;
  max-width: 800px;
  box-shadow: -2px -1px 33px 3px rgba(56, 56, 56, 0.52); }

.logo {
  max-width: 800px;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  font-size: 4rem;
  margin: 5rem auto;
  position: relative; }
  .logo .logo-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem; }
    .logo .logo-title p {
      line-height: 2.5rem; }
    .logo .logo-title .thin {
      font-weight: 200; }
    .logo .logo-title .bold {
      font-weight: 600; }
    .logo .logo-title .subtitle {
      font-size: 1.8rem; }
    .logo .logo-title .details {
      font-size: 1.3rem; }
  .logo img {
    display: inline-block;
    vertical-align: middle; }

.description {
  background: whitesmoke;
  border-bottom: .1rem solid #CCC; }
  .description h3 {
    padding: 1rem;
    font-size: 1.2rem; }
  .description p {
    padding: 1rem;
    line-height: 1.4; }
  .description button {
    margin-left: auto;
    margin-right: auto;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none; }
    .description button:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none; }

.media {
  position: relative;
  color: #4D4D4D;
  background: whitesmoke;
  padding: 1rem;
  height: 5.8rem; }

.player {
  position: absolute;
  left: 15rem;
  top: 4rem; }

.left-panel {
  position: absolute;
  bottom: 1.5rem;
  left: 2.7rem; }

.right-panel {
  position: absolute;
  bottom: 1.7rem;
  right: 2.7rem; }

.action {
  font-size: 1.2rem;
  font-family: Roboto; }

.date {
  color: #999; }

a {
  text-decoration: none;
  color: rgba(0, 95, 137, 0.83);
  -webkit-transition: all ease 300ms;
          transition: all ease 300ms; }
  a:hover {
    color: #005f89; }
  a:active {
    color: rgba(0, 95, 137, 0.83); }
  a:visited {
    color: rgba(0, 95, 137, 0.83); }
  a:focus {
    color: rgba(0, 95, 137, 0.83); }

.cover158 {
  position: relative;
  height: 29rem;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150726.jpg");
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150726.jpg");
  background-size: cover;
  background-position: 25% 75%; }
  .cover158 h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem; }

.cover157 {
  position: relative;
  height: 29rem;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150719.jpg");
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150719.jpg");
  background-size: cover;
  background-position: 25% 75%; }
  .cover157 h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem; }

.cover156 {
  position: relative;
  height: 29rem;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150712.jpg");
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150712.jpg");
  background-size: cover;
  background-position: 25% 75%; }
  .cover156 h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem; }

.cover155 {
  position: relative;
  height: 29rem;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150705.jpg");
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150705.jpg");
  background-size: cover;
  background-position: 25% 75%; }
  .cover155 h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem; }

.cover154 {
  position: relative;
  height: 29rem;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150628.jpg");
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150628.jpg");
  background-size: cover;
  background-position: 25% 75%; }
  .cover154 h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem; }

.cover153 {
  position: relative;
  height: 29rem;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150621.jpg");
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.27) 93%, rgba(0, 0, 0, 0.22) 100%), url("../img/2015/20150621.jpg");
  background-size: cover;
  background-position: 25% 75%; }
  .cover153 h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem; }
