@charset "UTF-8";
@import 'jeet/index';
@import 'breakpoint/breakpoint';
@import 'variables';
// @include edit ();
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500,700,600,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* EPISODE-LIST STYLES */

#episodes-list-section, .list-box {
  @include center($box-width);
  margin-top: 5rem;
  background-color: whitesmoke;
}
.ep-list-col-left {
  @include column(4/5, $gutter: 0);
  line-height: 2.9;
  border-top: solid 1px #CCC;
  @include breakpoint($xsmall) {
    @include column(3/5, $gutter: 0);
  }
}
.ep-list-col-right {
  @include column(1/5, $gutter: 0);
  text-align: right;
  border-top: solid 1px #CCC;
  padding: .6rem 0;
  background-color: darken(whitesmoke, 5%);
  @include breakpoint($xsmall) {
    @include column(2/5, $gutter: 0);
    text-align: right;
  }
  p {
    padding-right: 1rem;
  }
}
.list-date {
  padding-top: .3rem;
  font-size: .7rem;
  font-family: Roboto;
  color: grey;
}
.list-ep-number {
  font-size: .8rem;
  font-family: Roboto;
  color: #3b3b3b;
}
.list-title {
  cursor: pointer;
  background: darken(whitesmoke, 5%);
  padding-left: 1rem;
  line-height: 2.4;
  padding-top: .3rem;
  height: 2.7rem;
  .title-link {
    margin: 0;
    padding: 0;
    display: inline;
    color: #00BCD4;
    font-family: $font-h;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 260ms ease;
    &:hover {
      color: darken($link, 10%);
    }
    @include breakpoint($small) {
      font-size: .7rem;
    }
  }
  li {
    display: inline;
    padding-right: 0.9rem;
  }
}
.ep-details-col-left {
  @include column(1/3, $cycle: 2, $uncycle: 1);
  @include breakpoint($xsmall) {
    @include stack();
  }
}
.ep-details-col-right {
  @include column(2/3, $cycle: 2, $uncycle: 1);
  @include breakpoint($xsmall) {
    @include stack();
    margin-top: 1rem;
  }
}
.list-description {
  background: whitesmoke;
  h3 {
    padding: 1rem;
    font-size: 1.2rem;
  }
  p {
    padding: 1rem 1.5rem;
    line-height: 1.7;
    font-size: 1rem;
    @include breakpoint($small) {
      font-size: .85rem;
    }
  }
  button {
    margin-left: auto;
    margin-right: auto;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    &:hover {
      background: #3cb0fd;
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
}
.list-close {
  margin-right: 1rem;
  padding-top: .5rem;
  font-size: .8rem;
  color: #00BCD4;
  text-decoration: none;
  transition: all 200ms ease;
  cursor: pointer;
  &:hover {
    color: #008fa1;
  }
}
.list-image {
  width: 94%;
  height: auto;
  border-radius: .7rem;
  margin: 1.5rem 0 1rem 1rem;
  @include breakpoint($xsmall) {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
.ep-list-download-button {
  padding-left: 1.5rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
}
.ep-details-player {
  @include breakpoint($small) {
    padding-left: 1.5rem;
  }
}
.ep-list-media {
  @include center(100%);
  color: #4D4D4D;
  background: whitesmoke;
}
.ep-list-empty-left-panel {
  height: 2rem;
  @include breakpoint($xsmall) {
    height: 0;
  }
}

.left-panel {
  @include breakpoint($small) {
    p {
      font-size: .8rem;
      padding-bottom: .6rem;
    }
  }
}
.right-panel {
  @include breakpoint($small) {
    padding: .1rem;
    margin-top: .4rem;
    span {
      padding-top: .6rem;
      font-size: .8rem;
    }
    p {
      font-size: .8rem;
    }
  }
}
/* end EPISODE-LIST STYLES */

.bg {
  position: fixed;
  z-index: 1;
  font-family: 'helvetica';
  color: #3e3e3e;
  background-image: url('../img/skytower-example.jpg');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.container {
  position: relative;
  z-index: 2;
}
a {
  color: $link;
  text-decoration: none;
  transition: all 200ms ease;
  &:hover {
    color: darken($link, 10%);
  }
}

/* PAGINATION STYLING */
.button {
  letter-spacing: .1rem;
  border-radius: .3rem;
  background-color: #955CA5;
  box-shadow: 0px -1px 6px 0px rgba(56,56,56,0.52);
  margin-top: .9rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  cursor: pointer;
  color: whitesmoke;
  font-family: 'Exo 2' sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: all 500ms ease-out;
  &:hover {
    background: darken(#955CA5, 20%);
    color: #fff;
  }
}

.top-pull-up {
  margin-top: -3rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pagination-area {
  max-width: 958px;
  margin: 0 auto;
}

// NAVIGATION

.title-thin {
  font-weight: 400;
}

nav {
  opacity: .90;
  position: fixed;
  font-size: .8rem;
  top: 0;
  z-index: 1000;
  height: 3.4rem;
  width: 100%;
  a {
    color: #3e3e3e;
  }
  h1 {
    font-family: $font-h;
    font-weight: 800;
    font-size: 2rem;
    color: #3e3e3e;
    float: left;
  }
  ul {
    float: right;
    right: 3rem;
    top: 0;
  }
  li {
    font-family: $font-h;
    font-weight: 400;
    display: inline;
    line-height: 4rem;
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: .9rem;
    a {
      padding-bottom: .95rem;
      &:hover {
        border-bottom: .5rem solid #955CA5;
      }
      &:active {
        border-bottom: .5rem solid #955CA5;
      }
    }
    .menu-button {
      display: none;
      font-size: 1.4rem;
      color: whitesmoke;
    }
    .menu-close {
      display: none;
    }
  }
}
.nav-center {
  @include center($box-width);
}
.active {
  border-bottom: .5rem solid #955CA5;
}
.top-bar {
  height: 5rem;
  position: fixed;
  top: -1rem;
  width: 100%;
  z-index: 200;
  background-color: whitesmoke;
  box-shadow: 0 0 33px 0 rgba(56,56,56,0.52);
}
.nav-title {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: .4rem;
}
.nav-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: .2rem .3rem .4rem 0;
  img {
    height: 3.5rem;
  }
}
.is-hidden {
  margin-top: -5rem;
  transition: all 750ms ease;
}
.is-showing {
  margin-top: 0;
  transition: all 750ms ease;
}

//HEADER

header {
  padding-top: 0;
  margin-top: 0;
}
.logo {
  max-width: $box-width;
  font-family: $font-h;
  color: #fff;
  font-size: 4rem;
  margin: 0 auto;
  padding-top: 5rem;
  position: relative;
  .logo-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    p {
      line-height: 1.8rem;
    }
    .thin {
      font-weight: 200;
    }
    .bold {
      font-weight: 600;
    }
    .subtitle {
      font-size: 1.3rem;
    }
    .details {
      font-size: 1rem;
    }
  }
  img {
    margin-left: .9rem;
    display: inline-block;
    vertical-align: middle;
  }
}

//BOX

.box {
  @include center($box-width);
}
.box-padding-5 {
  padding-top: 5rem;
}
.box-padding-2 {
  padding-top: 2rem;
}
.box-col-3 {
  @include column(1/3);
  @include breakpoint($small) {
    @include stack();
    margin-top: 1rem;
  }
  background: whitesmoke;
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
  p{
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .85rem;
  }
}
.box-col-2 {
  @include column(1/2, $uncycle: 1, $cycle: 2);
  @include breakpoint($small) {
    @include stack();
    margin-top: 1rem;
  }
  background: whitesmoke;
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
  p{
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .9rem;
  }
  .team-description {
    padding: 0.6rem 0 0 0;
  }
}
.card-title {
  color: whitesmoke;
  padding: 4rem 1rem 1rem 1rem;
  h3 {
    font-family: $font-h;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;
    display: inline;
    letter-spacing: .15rem;
  }
}
.card-icon {
  float: right;
  display: inline;
  font-size: 4rem;
  margin-top: -2.3rem;
}
.card-img {
  float: right;
  display: inline;
  margin-top: -5.9rem;

  img {
    height: 6rem;
    border-radius: 50px;
  }
}
.emerald {
  background-color: #50BA6F;
}
.blue {
  background-color: #3D97D3;
}
.purple {
  background-color: #955CA5;
}
.green-sea {
  background-color: #15A086;
}
.alizarin {
  background-color: #E64D3C;
}
.card-body {
  border-bottom: .1rem solid #CCC;
  background-color: whitesmoke;
  ul {
    list-style-type: square;
    font-size: 0.85rem;
    line-height: 1.3rem;
    padding-left: 1.8rem;
  }
  .small-text {
    font-size: .6rem;
  }
}
.card-action {
  padding: 0.9rem;
  a {
    font-family: $font-h;
    font-weight: 800;
    text-transform: uppercase;
  }
  li {
    display: inline;
    padding-right: 0.9rem;
  }
}
iframe {
  padding: 0;
  z-index: 0;
  pointer-events: none;
}



//SEARCH BOX

.search-height {
  height: 10.06rem !important;
  @include breakpoint($small) {
    height: 7rem !important;
  }
}

@import 'search';
.search-dscrp {
  padding: 1rem;
}
h2 {
  font-family: $font-h;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: #444;
  padding: 1rem;
}
.or-box {
  padding-top: 1.8rem;
  text-align: center;
}
.box-col-search-word {
  @include column(1/2, $gutter: 0);
  background: whitesmoke;
  p {
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .85rem;
  }
  @include breakpoint($small) {
    @include stack();
    text-align: center;
    padding-top: 1.5rem;
  }
}
.box-col-search-or {
  @include column(1/8, $gutter: 0);
  @include breakpoint($small) {
    @include stack();
    height: 1rem;
  }
}
.box-col-search-year {
  @include column(3/8, $gutter: 0);
  background: #dbdbdb;
  p {
    padding: .9rem;
    line-height: 1.3rem;
    font-size: .85rem;
  }
  @include breakpoint($small) {
    @include stack();
    text-align: center;
    height: 12rem !important;
    padding-top: 1rem;
  }
}
//ENTRIES

.entry {
  margin: 5rem auto;
  @include center($box-width);
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
}
.description {
  background: whitesmoke;
  border-bottom: .1rem solid #CCC;
  h3 {
    padding: 1rem;
    font-size: 1.2rem;
  }
  p {
    padding: 1rem 2.5rem;
    line-height: 1.7;
    font-size: 1rem;
    @include breakpoint($small) {
      font-size: .8rem;
      padding: .8rem 1.2rem;
    }
  }
  button {
    margin-left: auto;
    margin-right: auto;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    &:hover {
      background: #3cb0fd;
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
}
.media {
  @include center(100%);
  color: #4D4D4D;
  background: whitesmoke;
  padding: 1rem 1rem 1rem 2.3rem;
  height: 12rem;
  @include breakpoint($small) {
    padding: 1rem 0rem 1rem .6rem;
  }
}
.player {
  padding: .5rem 0;
}
.action {
  font-size: 1.2rem;
  font-family: Roboto;
  text-align: right;
}
.date {
  padding-top: .5rem;
  color: #999;
}
.box-col-3-media-25 {
  @include column(1/4, $uncycle: 1, $cycle: 2);
  margin-bottom: .5rem;
  @include breakpoint($small) {
    @include stack();
  }
}
.box-col-3-media-25-no-stack {
  @include column(1/4, $uncycle: 1, $cycle: 2);
  margin-bottom: .5rem;
  @include breakpoint($small) {
    @include column(1/5, $uncycle: 1, $cycle: 2);
  }
}
.box-col-3-media-50 {
  @include column(1/2, $uncycle: 1, $cycle: 2);
  margin-bottom: .5rem;
  @include breakpoint($small) {
    @include stack();
  }
}
.box-col-3-media-75 {
  @include column(3/4, $uncycle: 1, $cycle: 2);
  margin-bottom: .5rem;
  @include breakpoint($small) {
    @include stack();
  }
}
.box-col-3-media-75-no-stack {
  @include column(3/4, $uncycle: 1, $cycle: 2);
  margin-bottom: .5rem;
  @include breakpoint($small) {
    @include column(4/5, $uncycle: 1, $cycle: 2);
  }
}

// AUDIO Player
.time {
  margin-top: 1.1rem;
  margin-left: 1.2rem;
  display: inline;
  float: left;
  width: 1.9rem;
  padding:5px 8px;
  font-size: 1rem;
  color: #fff;
  background: #00BCD4;
  border: solid #99D4D6;
}

.show-pointer {
  cursor: pointer;
}

.custom-player {
	width: 480px;
	height: 60px;
  @include breakpoint($xsmall) {
    width: 296px;
  }
}

.timeline {
  display: inline;
	width: 25rem;
	height: 20px;
	margin-top: 24px;
	float: left;
	border-radius: 15px;
	background: rgba(153, 212, 214, 1);
  @include breakpoint($small) {
    width: 20rem;
  }
  @include breakpoint($xsmall) {
    width: 14rem;
  }
}
.playhead {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: #00BCD4;
}

.circle-icon {
  font-size: 1.6rem;
  border: solid 8px #00BCD4;
  border-radius: 100%;
  padding: .4rem;
  margin: .3rem 0 .3rem 0;
}

// COVER

.cover {
  position: relative;
  height: 16rem;
  background-size: cover;
  background-position: 25% 75%;
  h2 {
    font-size: 1.5rem;
    opacity: .8;
    text-transform: uppercase;
    color: #FFF;
    font-family: Montserrat;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem;
    @include breakpoint($small) {
      font-size: 1.1rem;
      left: 0rem;
      bottom: .5rem;
    }
  }
}

.padding-top {
  padding-top: 100%;
}


// FOOTER

.copyright {
  width: 100%;
  background: whitesmoke;
  margin-top: 2rem;
  padding-top: .8rem;
  height: 5rem;
  font-family: $font-h;
  box-shadow: -2px -1px 33px 3px rgba(56,56,56,0.52);
  text-align: center;
}
.footer-social {
  text-align: center;
  padding-top: .8rem;
  a {
    color: #969696;
    &:hover {
      color: darken(#969696, 30%);
    }
  }
  li {
    display: inline;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
}
footer {
  p {
    padding-top: 0.3rem;
    font-size: 0.85rem;
  }
}
@import 'responsive';
