// MEDIA QUERY FOR NAV BAR

@media only screen
  and (min-width: 1px)
  and (max-width: 799px) {
    nav {
      ul {
        position: absolute;
        width: 50%;
        height: 1200px;
        opacity: 1;
        margin-top: 4rem;
        margin-right: -120%;
        border-top: 0;
        background: whitesmoke;
        transition: all 400ms ease;
        li {
          padding-right: 1rem;
          font-size: .9rem;
          text-align: right;
          display: block;
          line-height: 2.3rem;
          a {
            padding-bottom: .01rem;
          }
        }
      }
      .menu-button {
        display: block;
        float: right;
        line-height: 3rem;
        margin-right: 1rem;
        margin-top: .55rem;
        cursor: pointer;
        transition: all 100ms ease;
        &:hover {
          color: $link;
        }
      }
      .menu-open::after {
        font-size: 2rem;
        content: "\2261";
      }
      .menu-close::after {
        content: "\2715";
      }
      .show-menu {
        opacity: 1;
        margin-right: -3rem;
      }
    }
  }

/*MEDIUM SCREENS*/
//this matches the variable $small set for jeet grid system at 799px

@media only screen and (min-width: 800px) {
  .logo {
    .logo-title {
      p {
        line-height: 2.5rem;
      }
      .subtitle {
        font-size: 1.8rem;
      }
      .details {
        font-size: 1.3rem;
      }
    }
    img {
      margin-left: 0rem;
    }
  }
  .box-col-2 {
    margin-bottom: 1.8rem;
  }
  .media {
    height: 5.8rem;
  }
  audio {
    margin-left: 1.65rem;
    padding-top: 1rem;
  }
  .right-panel {
    padding: 1rem;
    text-align: right;
  }
}


//The cover needs some extra media queries to make them look good on different devices

@media only screen and (min-width: 701px) {
  .cover {
    height: 32rem;
  }
}

@media only screen and (max-width: 700px) {
  .cover {
    height: 28rem;
  }
}

@media only screen and (max-width: 600px) {
  .cover {
    height: 24rem;
  }
}

@media only screen and (max-width: 500px) {
  .cover {
    height: 20rem;
  }
}
