//year and month fields

#dd{
  z-index: 6;
  font-family: $font-h;
}
.wrapper-dropdown-1 select {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}

//search field
form {
  width: 15rem;
  margin-left: 1rem;
  @include breakpoint($small) {
    margin-left: 0;
  }
}
fieldset {
  border: none;
  position: relative;
  font-family: 'Exo 2' sans-serif;
}
input, select {
  border: none;
  padding: 1rem 1rem .8rem 1rem;
  border-radius: 5px;
  width: 23rem;
  font-size: .9rem;
  font-family: $font-h;
  padding-bottom: .5rem;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.15);
  &:focus {
    outline: none;
    border-bottom: .3rem solid #955CA5;
  }
}
#year-select{
  height: 2.6rem;
  width: 20rem;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.30);
  color: #77777F;
  @include breakpoint($small) {
    width: 25rem;
  }
}

input + label {
  display: block;
  cursor: text;
  color: #777;
  transition: .15s ease-out all;
  position: absolute;
  top: .9rem;
  left: .9rem;
  font-size: .9rem;
}
input:focus + label {
  top: .3em;
  left: 1.45em;
  font-size: .7em;
  font-weight: bold;
  color: #955CA5;
  transition: .15s ease-out all;
}
.stay {
  top: .3em;
  left: 1.45em;
  font-size: .7em;
  font-weight: bold;
  color: #955CA5;
  transition: .15s ease-out all;
}

//search button
.search-btn {
  letter-spacing: .1rem;
  border-radius: .2rem;
  background-color: #955CA5;
  margin-top: .9rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  cursor: pointer;
  color: whitesmoke;
  font-family: 'Exo 2' sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: .5rem 2rem;
  text-decoration: none;
  transition: all 500ms ease-out;
  &:hover {
    background-color: darken(#955CA5, 20%);
    color: #fff;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  @include breakpoint($small) {
    margin-left: 8rem;
  }
}
.search-btn-list {
  @include breakpoint($small) {
    margin-left: 9rem;
  }
}
.form-container {
  @include breakpoint($small) {
    @include center(25rem);
  }
}
